<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Diagnostic Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <!-- <script src="https://npmcdn.com/react-router/umd/ReactRouter.min.js"></script> -->
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel">
        var TestInfo = React.createClass({
            render: function() {
                return (
                    <div className="testInfo" dangerouslySetInnerHTML={% templatetag openvariable %}__html: this.props.test.text{% templatetag closevariable %}></div>
                );
            }
        });
  
        var TestButton = React.createClass({
            handleStartTest: function(e) {
                e.preventDefault();
                this.props.startTest();
            },
            render: function() {
                return (
                    <form className="startTestForm" onSubmit={this.handleStartTest}>
                        <input type="submit" value="Start test" />
                    </form>
                );
            }
        });
        
        var Diagnostic = React.createClass({
            getInitialState: function() {
                return {data: {}};
            },
            componentDidMount: function() {
                $.ajax({
                    url: '/ajax/diagnostic/',
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });
            },
            
            handleStartTest: function() {
                $.ajax({
                    url: '/ajax/diagnostic/start/',
                    cache: false,
                    type: 'POST',
                    success: function(data) {
                        window.location.href = '/diagnostic/#test';
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });            
            },
            
            render: function() {
                return (
                    <div className="diagnosticBox">
                    <h1>Diagnostic</h1>
                    <TestInfo test={this.state.data}/>
                    <TestButton startTest={this.handleStartTest}/>
                    </div>
                );
            }
        });
        
        var TestPreloader = React.createClass({
            render: function() {
                return (
                    <div className="testPreloader">
                    <h1>Im test preloader</h1>
                    </div>
                );
            }        
        });
        
        var TestQuestion = React.createClass({
            render: function() {
                return (
                    <div className="testQuestion" dangerouslySetInnerHTML={% templatetag openvariable %}__html: this.props.question{% templatetag closevariable %} >
                    </div>
                );
            }            
        });
        
        var TestAnswer = React.createClass({
            answer: function(e) {
                var answer = $(e.target).data('id');
                this.props.answerOnQuestion(answer);
            },
            
            render: function() {
                return (
                    <p className="testAnswer"> 
                        <input name="answer" type="radio" 
                        data-id={this.props.answer.id} 
                        checked={this.props.answer.id === this.props.selectedAnswerId}
                        onChange={this.answer} />
                        
                        <span dangerouslySetInnerHTML={% templatetag openvariable %}__html: this.props.answer.answer{% templatetag closevariable %}></span>
                    </p>
                );
            }
        });
        
        var TestAnswerList = React.createClass({
            render: function() {
                return (
                    <div className="testAnswerList">
                    <form>
                    {this.props.answers.map(function(answer) {
                        return <TestAnswer selectedAnswerId={this.props.selectedAnswerId} key={answer.id} 
                                answer={answer} answerOnQuestion={this.props.answerOnQuestion} />;
                     }.bind(this))}
                     </form>
                     </div>
                ); 
            }  
        });
        
        var TestAnswerNavigateButton = React.createClass({
            render: function() {
                return (
                    <button className="testAnswerButton" onClick={this.props.goToNext}>{this.props.text}</button>
                );
            }
        });
        
        var TestQuestionBox = React.createClass({
            getInitialState: function() {
                return {errorMessage: ''};
            },
            
            answerOnQuestion: function(answerId) {
                this.setState({errorMessage: ''});  
                this.props.setAnswerCallback(answerId);
            },
            
            goToNext: function(e){
                e.preventDefault();
                
                if (!(this.props.selectedAnswer)) {
                    this.setState({errorMessage: 'Выберите один ответ'}); 
                    return;     
                } 
                
                $.ajax({
                    url: '/ajax/diagnostic/questions/' + this.props.question.id + '/',
                    type: 'POST',
                    data: {answer: this.props.selectedAnswer},
                    success: function(data) {
                        this.props.getNextCallback();
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });  
            },

            goToPrev: function(e){
                e.preventDefault();
                this.props.getPrevCallback();
            },
                        
            render: function() {
                return (
                    <div className="testQuestionBox">
                        <p> {this.state.errorMessage} </p>
                        <TestQuestion question={this.props.question.question} />
                        <TestAnswerList 
                         selectedAnswerId={this.props.selectedAnswer} 
                         answerOnQuestion={this.answerOnQuestion} 
                         answers={this.props.answers} />
                         
                        <TestAnswerNavigateButton text="Ответить" goToNext={this.goToNext}/>
                        {
                            this.props.question.order_number > 1 ?
                            <TestAnswerNavigateButton text="Назад" goToNext={this.goToPrev}/>:
                            ''
                        }
                    </div>
                );
            }        
        });
        
        var TestResult = React.createClass({
            render: function() {
                return (
                    <div className="testResult" dangerouslySetInnerHTML={% templatetag openvariable %}__html: this.props.result{% templatetag closevariable %}>
                    </div>
                );
            }
        });
        
        var TestRestartButton = React.createClass({
            render: function() {
                return (
                    <a href="/diagnostic">
                        Пройти заново
                    </a>
                );
            }            
        });
        
        var TestResultBox = React.createClass({
            render: function() {
                return (
                    <div className="testResultBox">
                        <TestResult result={this.props.result.result}/>
                        <TestRestartButton />
                    </div>
                );
            }     
        });
        
        var Test = React.createClass({
            getInitialState: function() {
                return {data: {type: 'unknown'}};
            },
            
            loadFromServer(url) {
                $.ajax({
                    url: url,
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });
            },
            
            loadNextFromServer: function() {
                this.loadFromServer('/ajax/diagnostic/next/');
            },   

            loadPrevFromServer: function() {
                this.loadFromServer('/ajax/diagnostic/prev/?current=' + (this.state.data.question.order_number || 1));
            },
                                    
            componentDidMount: function() {
                this.loadNextFromServer();    
            },
            
            setAnswerCallback: function(answerId) {
                var data = this.state.data;
                data.selected_answer_id = answerId;
                this.setState({data: data});
                console.log(this.state.data.selected_answer_id);
            },
            
            render: function() {
                return (
                    <div className="testBox">
                    <h1>Test</h1>
                    {this.state.data.type == 'question' ? 
                     <TestQuestionBox 
                     getPrevCallback={this.loadPrevFromServer} 
                     getNextCallback={this.loadNextFromServer} 
                     question={this.state.data.question}
                     answers={this.state.data.answers} 
                     selectedAnswer={this.state.data.selected_answer_id}
                     setAnswerCallback={this.setAnswerCallback}/> :
                     this.state.data.type == 'result' ? 
                     <TestResultBox result={this.state.data.result} />:
                     <TestPreloader/>}
                    </div>
                );
            }
        });
        // TODO: place in utils   
        var App = React.createClass({
            render: function() {
                switch (this.props.location[0])  {
                case 'test':
                    return <Test/>;

                default:
                    return <Diagnostic/>;
                }
            }
        });

        function handleNewHash() {
            var location = window.location.hash.replace(/^#\/?|\/$/g, '').split('/');
            var app = <App location={location} />;
            ReactDOM.render(app, document.getElementById('content'));
        }
        handleNewHash()
        window.addEventListener('hashchange', handleNewHash, false);
        </script>
        
    <!-- </script>
    <script type="text/jsx">        
        ReactDOM.render((
            <Router history={browserHistory}>
                <Route path="/" component={Diagnostic}>
                    <Route path="test" component={Test}/>
                </Route>
           </Router> 
        ), document.getElementById('content'));
    </script> -->
  </body>
</html>
