<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Diagnostic Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <script src="https://npmcdn.com/react-router/umd/ReactRouter.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel">
        var TestInfo = React.createClass({
            render: function() {
                return (
                    <div className="testInfo">
                    {this.props.test.text}
                    </div>
                );
            }
        });
  
        var TestButton = React.createClass({
            handleSubmit: function(e) {
                e.preventDefault();
                this.props.startTest();
            },
            render: function() {
                return (
                    <form className="startTestForm" onSubmit={this.handleStartTest}>
                        <input type="submit" value="Start test" />
                    </form>
                );
            }
        });
        
        var TestBox = React.createClass({
            getInitialState: function() {
                return {data: {}};
            },
            componentDidMount: function() {
                $.ajax({
                    url: this.props.url,
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });
            },
            handleStartTest: function() {
                $.ajax({
                    url: '/ajax/diagnostic/start/',
                    dataType: 'json',
                    cache: false,
                    type: 'POST',
                    success: function(data) {
                        //reload page
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });            
            },
            
            render: function() {
                return (
                    <div className="testBox">
                    <h1>Diagnostic</h1>
                    <TestInfo test={this.state.data}/>
                    <TestButton startTest={this.handleStartTest}/>
                    </div>
                );
            }
        });
        
        ReactDOM.render(
            <CommentBox url="/ajax/diagnostic/" />,
            document.getElementById('content')
        );
    </script>
  </body>
</html>
